<div id="q-image-zoom-wrapper" class='q-image-zoom-wrapper hidden'>
  <section class='q-image-zoom'>
    <header class="q-image-zoom-header">
      <span id="q-image-zoom-close" class="q-image-zoom-close">Close</span>
    </header>
    <main id="q-image-zoom-body" class="q-image-zoom-body">
    </main>
  </section>
</div>