<nav class='q-pagination' role='navigation'>
  <div class='q-text-left'>
    {{#if prev}}
      <a  href='{{page_url prev}}'>
        <button class='q-button--secondary'>&lsaquo;</button>
      </a>
    {{else}}
      <button class='q-button--secondary disabled'>&lsaquo;</button>
    {{/if}}
  </div>
  <div class='q-text-right'>
    {{#if next}}
      <a href='{{page_url next}}'>
        <button class="q-button--secondary">&rsaquo;</button>
      </a>
    {{else}}
      <button class="q-button--secondary disabled">&rsaquo;</button>
    {{/if}}
  </div>
</nav>