<section class='q-search-wrapper'>
  <div class='q-search-inner'>
    <header class="q-search-bar">
      <span class="q-search-logo">{{> "icons/search"}}</span>
      <label class="hidden" for="search">Search</label>
      <input id="q-search-input" name="search" class='q-search-input' type='text' placeholder='Press "ctrl + k" to search' />
      <button id="q-search-delete" type="button" class="q-search-button">{{> "icons/close"}}</button>
    </header>
    <main class='q-search-list-wrapper'>
      <ol id="q-search-list" class='q-search-list'>
        <li class='q-search-item'>Search result 1</li>
        <li class='q-search-item'>Search result 2</li>
        <li class='q-search-item'>Search result 2</li>
      </ol>
    </main>
  </div>
</section>