<div id='q-sidebar' class='q-sidebar'>
  <div class='q-sidebar-inner'>
    <div class='q-navbar-navigation-mobile'>
      {{navigation}}
    </div>
    <button id="q-navbar-button-close" class="q-navbar-button-close">
      Dismiss
    </button>
  </div>
</div>