{{!< default}}
{{! The tag above means: insert everything in this file
into the {body} of the default.hbs template }}

<div class='q-index-header'>
  {{#if @site.cover_image}}
    <div class="q-index-header-image" style="background-image: url('{{img_url @site.cover_image}}')"></div>
  {{/if}}

  <h2 class="q-index-header-title">
    {{@site.description}}
  </h2>
</div>

<!-- Secion only shown if there are featured posts -->
{{#get "posts" filter="featured:true"}}
  {{#if posts}}
    <h2 class="q-text-center">Featured posts</h2>
  {{/if}}
  <div class="q-post-read-more">
    <div class="glider-contain">
      <div id="q-glider" class="glider">
          {{#foreach posts}}
            {{> "post-card-item"}}
          {{/foreach}}
      </div>
    </div>
  </div>
  {{#if posts}}
    <hr>
  {{/if}}
{{/get}}

<main class='q-index-content'>
    <div class="q-index-content-inner">
        <div class="q-post-list">
          {{#foreach posts}}
            {{> "post-list-item"}}
          {{/foreach}}
        </div>
        <!-- Show pagination if pagination exceeds posts_per_page config  -->
        {{ pagination }}
    </div>
</main>