{{!< default}}
{{! The tag above means: insert everything in this file
into the {body} of the default.hbs template }}

<div class='q-index-header'>
  {{#if @site.cover_image}}
    <div class="q-index-header-image" style="background-image: url('{{img_url @site.cover_image}}')"></div>
  {{/if}}

  <h2 class="q-index-header-title">
    {{@site.description}}
  </h2>
</div>
<div class="q-post-read-more">
  <h2 class="q-text-center">Featured posts</h2>
  <div class="glider-contain">
    <div id="q-glider" class="glider">
      {{#foreach posts}}
        {{#if featured}}
          {{> "post-card-item"}}
        {{/if}}
      {{/foreach}}
    </div>
  </div>
</div>

<hr>

<main class='q-index-content'>
    <div class="q-index-content-inner">
        <div class="q-index-content-search">
            <span class="q-index-content-search-icon">
              {{> "icons/search"}}
            </span>
            <label for="post-search-input" class="hidden">Search for an article</label>
            <input placeholder="Search [ctrl + k]" id="post-search-input" type="text" class="q-index-content-search-input" >
        </div>


        <div class="q-post-list">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-list-item"}}

            {{/foreach}}
        </div>
          <!-- Show pagination if pagination exceeds posts_per_page config  -->
          {{ pagination }}
    </div>
</main>