{{!< default}}

<div class='q-index-header'>
  {{#if @site.cover_image}}
    <div class="q-index-header-image" style="background-image: url('{{img_url @site.cover_image}}')"></div>
  {{/if}}

  <h1 class="q-index-header-title">
    {{@site.description}}
  </h1>
</div>

<!-- Secion only shown if there are featured posts -->

{{#get "posts" filter="featured:true"}}
{{#if posts}}
{{/if}}
<div class="q-post-cardlist-wrapper">
  <header class="q-index-content-header">
    <h2 class="q-index-sub-title">Featured articles</h2>
    <div>
      <button aria-label="Previous" class="q-glider-prev">«</button>
      <button aria-label="Next" class="q-glider-next">»</button>

    </div>
  </header>
  <div class="glider-contain">
    <div id="q-glider" class="glider">
      {{#foreach posts}}
      {{> "post-card-item"}}
      {{/foreach}}
    </div>
    <div role="tablist" class="dots"></div>
    </div>
  {{#if posts}}
  {{/if}}
  </div>
{{/get}}

<main class='q-index-content-wrapper'>
    <header class="q-index-content-header">
      <h2 class="q-index-sub-title">Latest publications</h2>
    </header>
    <section class="q-index-content-inner">
        <div class="q-post-list">
          {{#foreach posts}}
            {{> "post-list-item"}}
          {{/foreach}}
        </div>
        <!-- Show pagination if pagination exceeds posts_per_page config  -->
        {{ pagination }}
    </section>
</main>