{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- TODO: Continue here -->

{{#tag}}
<header class="q-tag-header">

    {{#if feature_image}}
    <img
      loading='lazy'
      src='{{img_url feature_image}}'
      alt='tag header image for {{name}}'
      class='q-tag-header-image'
    />
    {{/if}}
    <div class="q-tag-header-wrapper">
        <h1 class="q-tag-header-title">{{name}}</h1>
        <p class="q-tag-header-description">{{description}}</p>
    </div>
</header>
{{/tag}}
<section class="q-tag-content">
    <div class="q-tag-post-list">
        {{#foreach posts}}

        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card-item"}}

        {{/foreach}}
    </div>
</section>
