{{!< default}}
{{#tag}}
<header class="q-tag-header">

    {{#if feature_image}}
    <img
      loading='lazy'
      src='{{img_url feature_image}}'
      alt='tag header image for {{name}}'
      class='q-tag-header-image'
    />
    {{/if}}
    <div class="q-tag-header-inner">
        <h1 class="q-tag-header-title">{{name}}</h1>
        <p class="q-tag-header-description">{{description}}</p>
    </div>
</header>
{{/tag}}
<section class="q-tag-inner">
    <div class="q-tag-post-list">
        {{#foreach posts}}

        {{> "post-card-item"}}

        {{/foreach}}
    </div>
</section>
