<!-- TODO: https://ghost.org/docs/themes/members/ -->
<section class='q-member-form-signup'>
  <form data-members-form>
    <input data-members-email type='email' required='true' />
    <button type='submit'>Continue</button>
  </form>
</section>