/* Outer element styles */
.q-body,
.q-header,
.q-footer {
  background-color: var(--background-color-primary);
}

/* Outer navbar styles */
.q-navbar {
  background-color: var(--background-color-primary);
}

/* Inner element styles */
.q-header-inner,
.q-main-inner {
  width: var(--content-width-screen-xs);
  display: block;
  margin: auto;
}

/* Inner navbar styles */
.q-navbar-inner {
  width: var(--content-width-screen-xs);
  display: block;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-navbar-inner > * {
  font-weight: 600;
  padding: var(--gap-xl) 0;
}

/* Hide navbar content for small devices */
.q-navbar-navigation,
.q-navbar-social {
  display: none;
}

.q-navbar-social > * {
  margin-left: var(--gap-sm)
}

/* Navbar element styles */
.q-navbar-logo {
  width: 40px;
  height: auto;
}

.q-navbar-navigation > ul > li {
  display: inline;
  margin: var(--gap-xs) var(--gap-md);
}

.q-navbar-navigation > ul > li > a {
  color: var(--text-color-secondary);
}

.q-navbar-navigation > ul > li > a:hover {
  color: var(--accent-color-primary);
}

/* Styles for the sidebar toggle */
.q-navbar-sidebar-toggle {
  cursor: pointer;
}

.q-sidebar-toggle-rect {
  fill: var(--text-color-primary);
}

.q-social-facebook,
.q-social-twitter {
  height: var(--el-size-xxs);
  width: var(--el-size-xxs);
  padding: 0 var(--gap-xs);
}

.q-icon {
  color: var(--accent-color-primary);
}

/* Footer styles */
.q-footer-inner {
  width: var(--content-width-screen-xs);
  margin: var(--gap-xxl) auto var(--gap-md) auto;
  display: grid;
  grid-template-columns: 100%;
}

.q-footer-nav,
.q-footer-info {
  text-align: center;
}

/* Media queries */
@media (min-width: 800px) {
  .q-navbar-inner {
    width: var(--content-width-screen-sm);
  }

  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: var(--content-width-screen-md);
  }
}

@media (min-width: 1000px) {
  .q-navbar-inner,
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    grid-template-columns: 50% 50%;
    width: var(--content-width-screen-lg);
  }

  /* Show navbar for bigger devices */
  .q-navbar-navigation {
    display: block;
  }

  .q-navbar-logo {
    width: 100%;
  }

  /* Show Social navigation icons for bigger devices */
  .q-navbar-social {
    display: flex;
    align-items: center;
    color: var(--accent-color-primary);
  }

  /* Hide burger for bigger devices */
  .q-navbar-sidebar-toggle  {
    display: none;
  }

  .q-footer-nav {
    text-align: left;
  }

  .q-footer-info {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .q-navbar-inner,
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: var(--content-width-screen-xl);
  }
}

@media (min-width: 1400px) {
  .q-navbar-inner,
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: var(--content-width-screen-xxl);
  }
}
