/* Outer element styles */

.q-body,
.q-header {
  background-color: var(--background-color-primary);
}

.q-main-inner {
  min-height: 76vh;
}

.q-footer {
  margin-top: var(--gap-xxl);
  background-color: var(--background-color-tartiary);
}

/* Outer navbar styles */
.q-navbar {
  background-color: var(--background-color-primary);
}

.q-navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-navbar-inner > * {
  font-weight: 600;
  padding: var(--gap-lg) 0;
}

/* Hide navbar content for small devices */
.q-navbar-navigation,
.q-navbar-social {
  display: none;
}

.q-navbar-social > * {
  margin-left: var(--gap-sm);
}

/* Navbar element styles */
.q-navbar-logo {
  width: 40px;
  height: auto;
}

.q-navbar-navigation > ul > li {
  display: inline;
  margin: var(--gap-xs) var(--gap-md);
}

.q-navbar-navigation > ul > li > a {
  color: var(--text-color-secondary);
}

.q-navbar-navigation > ul > li > a {
  position: relative;
}

/* Navigation bar items animation */
.q-navbar-navigation > ul > li > a::before,
.q-navbar-navigation > ul > li > a::after,
.q-navbar-navigation > ul > li.nav-current a::before {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: calc(var(--gap-xs) * -1);
  background: linear-gradient(
    to right,
    var(--accent-color-primary),
    var(--accent-color-secondary)
  );
}

.q-navbar-navigation > ul > li > a::after {
  right: 0;
  transition: all var(--duration-quickest);
}

.q-navbar-navigation > ul > li > a:hover::before {
  width: 100%;
  transition: all var(--duration-quickest);
}

.q-navbar-navigation > ul > li > a:hover::after,
.q-navbar-navigation > ul > li.nav-current a::before {
  width: 100% !important;
  left: 0;
}

/* Styles for the sidebar toggle */
.q-navbar-sidebar-toggle {
  cursor: pointer;
}

.q-sidebar-toggle-rect {
  fill: var(--text-color-primary);
}

.q-social-facebook,
.q-social-twitter {
  height: var(--el-size-xxs);
  width: var(--el-size-xxs);
  padding: 0 var(--gap-xs);
}

.q-icon {
  color: var(--accent-color-primary);
}

/* Footer styles */
.q-footer-inner {
  padding: var(--gap-md) 0;
  display: grid;
  grid-template-columns: 1fr;
}

.q-footer-nav,
.q-footer-info {
  text-align: center;
}

.q-footer-info-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

@media (min-width: 1000px) {
  /* Show navbar for bigger devices */
  .q-navbar-navigation {
    width: 100%;
    display: block;
  }

  .q-footer-nav {
    text-align: left;
  }

  .q-footer-info {
    text-align: right;
  }

  .q-footer-inner {
    grid-template-columns: 1fr 1fr;
  }

  .q-navbar-logo {
    margin-right: var(--gap-xl);
  }

  /* Show Social navigation icons for bigger devices */
  .q-navbar-social {
    display: flex;
    align-items: center;
    color: var(--accent-color-primary);
  }

  /* Hide burger for bigger devices */
  .q-navbar-sidebar-toggle {
    display: none;
  }
}
