/* Outer element styles */
.q-body,
.q-header,
.q-footer {
  background-color: var(--background-color-primary);
}

/* Outer navbar styles */
.q-navbar {
  background-color: var(--background-color-primary);
}

.q-navbar-inner > * {
  font-weight: 600;
  padding: var(--gap-xl) 0;
}

/* Hide navbar content for small devices */
.q-navbar-navigation,
.q-navbar-social {
  display: none;
}

.q-navbar-social > * {
  margin-left: var(--gap-sm);
}

/* Navbar element styles */
.q-navbar-logo {
  width: 40px;
  height: auto;
}

.q-navbar-navigation > ul > li {
  display: inline;
  margin: var(--gap-xs) var(--gap-md);
}

.q-navbar-navigation > ul > li > a {
  color: var(--text-color-secondary);
}

.q-navbar-navigation > ul > li > a:hover {
  color: var(--accent-color-primary);
}

/* Styles for the sidebar toggle */
.q-navbar-sidebar-toggle {
  cursor: pointer;
}

.q-sidebar-toggle-rect {
  fill: var(--text-color-primary);
}

.q-social-facebook,
.q-social-twitter {
  height: var(--el-size-xxs);
  width: var(--el-size-xxs);
  padding: 0 var(--gap-xs);
}

.q-icon {
  color: var(--accent-color-primary);
}

.q-footer-nav,
.q-footer-info {
  text-align: center;
}
