.q-index-header {
  min-height: calc(var(--gap-xl) + var(--text-size-xl) + var(--gap-xl));
  max-height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.q-index-header-image {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow-layer);
}

.q-index-header-title {
  font-family: 'Open Sens', sans-serif;
  font-size: var(--text-size-lg);
  position: absolute;
  text-align: center;
  color: var(--text-color-primary);
}

/* Searchbar styles */
.q-index-content-search {
  margin: var(--gap-xl) 0;
  text-align: center;
  position: relative;
}



.q-index-content-search-icon {
  position: absolute;
  padding: var(--gap-sm);
  font-size: var(--text-size-md);
}

.q-index-content-search-input {
  color: var(--text-color-primary);
  font-size: var(--text-size-lg);
  width: var(--el-size-md);
  padding: var(--gap-sm) var(--gap-md);
  padding-left: var(--gap-xxl);
  font-size: var(--text-size-md);
  border: 2px solid var(--grey-color);
  border-radius: var(--gap-xs);
  background-color: var(--background-color-secondary);
  transition: border-radius var(--duration-quick), width var(--duration-quick);
}

.q-index-content-search-input:focus {
  outline: none;
  width: var(--el-size-xl);
  border: 2px solid var(--accent-color-secondary);
  border-radius: var(--gap-max);
  transition: border-radius var(--duration-quick), width var(--duration-quick);
}

@media (min-width: 1000px) {
  .q-index-header-title {
    font-size: var(--text-size-xl);
  }

  .q-index-content-search {
    text-align: right;
  }
}
