.q-tag-header-image {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.q-tag-header-wrapper {
  width: 100%;
  text-align: center;
}

.q-tag-post-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--gap-md);
}

@media (min-width: 1200px) {
  .q-tag-post-list{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .q-tag-post-list{
    grid-template-columns: 1fr 1fr 1fr;
  }
}