/*
 * Includes styles for post items, such as post lists of post cards.
 */

.q-post-list {
  margin: var(--gap-max) 0;
  border: 1.5px solid var(--grey-color);
  border-radius: var(--gap-xs);
  padding: var(--gap-sm) 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 16px;
}
.q-post-list-item-inner:hover {
  transition: background-color var(--duration-quick);
  background-color: var(--background-color-secondary);
}

.q-post-list-item-inner {
  display: grid;
  grid-template-columns: 80% 20%;
  transition: background-color var(--duration-quick);
  grid-gap: 5%;
  padding: var(--gap-lg);
}

.q-post-list-item-readingtime,
.q-post-list-item-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.q-post-list-item-date {
  display: none;
}

.q-post-list-item-title {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color-secondary);
  font-size: var(--text-size-md);
  text-align: center;
  justify-content: center;
}

.q-post-list-item-readingtime {
  text-align: left;
  color: var(--text-color-primary);
  font-weight: 600;
  font-size: var(--text-size-sm);
}

/*
 * Adjust the grid format to desktop size
 * Show the reading time
 * Align the title to the left
 */
@media (min-width: 1000px) {
  .q-post-list-item-inner {
    display: grid;
    grid-template-columns: 12.5% 67.5% 10%;
    transition: background-color var(--duration-quick);
    grid-gap: 5%;
    padding: var(--gap-lg);
  }
  .q-post-list-item-date {
    display: flex;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--text-size-sm);
  }
  .q-post-list-item-title {
    justify-content: flex-start;
    text-align: left;
  }
}
