@import 'variables.css';

/* Outer element styles */
.q-navbar,
.q-body,
.q-header,
.q-footer {
  background-color: var(--background-color-primary);
}

/* Inner element styles */
.q-header-inner,
.q-main-inner,
.q-footer-inner {
  width: 100%;
  display: block;
  margin: auto;
}

/* Inner navbar styles */
.q-navbar-inner {
  width: 100%;
  display: block;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-navbar-inner > * {
  font-weight: 600;
  padding: var(--gap-md) var(--gap-xl);
}

.q-navbar-navigation > ul > li {
  transition: opacity var(--duration-quick);
  display: inline;
  margin: var(--gap-xs) var(--gap-md);
  opacity: 1;
}

.q-navbar-navigation > ul > li:hover {
  transition: opacity var(--duration-quick);
  opacity: 0.8;
}

/* Social navigation icons */
.q-navbar-social {
  display: flex;
  align-items: center;
  color: var(--accent-color-primary);
}

.q-social-facebook,
.q-social-twitter {
  height: var(--el-size-xxs);
  width: var(--el-size-xxs);
  padding: 0 var(--gap-xs);
}

.q-icon {
  color: var(--accent-color-primary);
}

@media (min-width: 800px) {
  .q-navbar-inner,
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .q-navbar-inner,
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .q-navbar-inner,
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .q-navbar-inner,
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: 50%;
  }
}
