@import 'variables.css';

/* Outer element styles */
.q-body,
.q-header,
.q-footer {
  background-color: var(--background-color-primary);
}

/* Outer navbar styles */
.q-navbar {
  background-color: var(--background-color-primary);
}

/* Inner element styles */
.q-header-inner,
.q-main-inner {
  width: var(--content-width-screen-xs);
  display: block;
  margin: auto;
}

/* Inner navbar styles */
.q-navbar-inner {
  width: 100%;
  display: block;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-navbar-inner > * {
  font-weight: 600;
  padding: var(--gap-md) var(--gap-xl);
}

.q-navbar-navigation > ul > li {
  transition: opacity var(--duration-quick);
  display: inline;
  margin: var(--gap-xs) var(--gap-md);
  opacity: 1;
}

.q-navbar-navigation > ul > li:hover {
  transition: opacity var(--duration-quick);
  opacity: 0.8;
}

/* Social navigation icons */
.q-navbar-social {
  display: flex;
  align-items: center;
  color: var(--accent-color-primary);
}

.q-social-facebook,
.q-social-twitter {
  height: var(--el-size-xxs);
  width: var(--el-size-xxs);
  padding: 0 var(--gap-xs);
}

.q-icon {
  color: var(--accent-color-primary);
}

/* Footer styles */
.q-footer-inner {
  width: var(--content-width-screen-xs);
  margin:  var(--gap-xxl) auto var(--gap-md) auto;
  display: grid;
  grid-template-columns: 100%;
}

.q-footer-nav,
.q-footer-info {
  text-align: center;
}

/* Media queries */
@media (min-width: 800px) {
  .q-navbar-inner {
    width: var(--content-width-screen-sm);
  }

  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: var(--content-width-screen-md);
  }
}

@media (min-width: 1000px) {
  .q-navbar-inner {
    width: var(--content-width-screen-md);
  }
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    grid-template-columns: 50% 50%;
    width: var(--content-width-screen-lg);
  }

  .q-footer-nav {
    text-align: left;
  }

  .q-footer-info {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .q-navbar-inner {
    width: var(--content-width-screen-md);
  }
  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: var(--content-width-screen-xl);
  }
}

@media (min-width: 1400px) {
  .q-navbar-inner {
    width: var(--content-width-screen-xl);
  }

  .q-header-inner,
  .q-main-inner,
  .q-footer-inner {
    width: var(--content-width-screen-xxl);
  }
}
