* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--text-size-xxl);
  font-family: 'Merriweather', serif;
  color: var(--text-color-primary);
}

p {
  font-size: var(--text-size-md);
  font-family: 'Lora', sans-serif;
  color: var(--text-color-secondary);
  line-height: var(--gap-xxl);
}

blockquote {
  background: var(--background-color-secondary);
  border-left: 3px solid var(--accent-color-primary);
  padding: var(--gap-md) var(--gap-lg);
  font-size: var(--text-size-md);
  border-radius: var(--gap-xs);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color-secondary);
}

img {
  max-width: 100% !important;
  height: auto;
}

span,
li {
  font-size: var(--text-size-md);
  font-family: 'Lora', sans-serif;
  color: var(--text-color-secondary);
}

a {
  font-family: 'Open Sans', sans-serif;
  color: var(--accent-color-primary);
  text-decoration: none;
}

path {
  fill: var(--text-color-secondary);
}

path:hover {
  fill: var(--accent-color-secondary);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Global utility classes */
.hidden {
  display: none;
}
