/* Import third party css */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&family=Inconsolata&display=swap');
@import 'modules/index.css';

/* Import theme css */
@import 'variables.css';
@import 'global.css';
@import 'util.css';
@import 'sites/default.css';
@import 'sites/index.css';
@import 'sites/error.css';
@import 'sites/tag.css';
@import 'lib/index.css';

/* Styles to adjust the width based on screen size*/

/* Inner element styles */
.q-index-content,
.q-post-article,
.q-post-cardlist-wrapper,
.q-tag-content,
.q-tag-header-wrapper,
.q-error-content-inner {
  width: var(--content-width-screen-xs);
  display: block;
  margin: auto;
}

/* Inner navbar styles */
.q-navbar-inner {
  width: var(--content-width-screen-xs);
  display: block;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-footer-inner {
  width: var(--content-width-screen-xs);
  margin: var(--gap-xxl) auto var(--gap-md) auto;
  display: grid;
  grid-template-columns: 100%;
}

/* Media queries */
@media (min-width: 800px) {
  .q-navbar-inner,
  .q-post-article,
  .q-post-cardlist-wrapper,
  .q-tag-content,
  .q-footer-inner,
  .q-tag-header-wrapper,
  .q-error-content-inner {
    width: var(--content-width-screen-md);
  }
}

@media (min-width: 1000px) {
  .q-navbar-inner,
  .q-index-content,
  .q-post-article,
  .q-post-cardlist-wrapper,
  .q-tag-content,
  .q-footer-inner,
  .q-tag-header-wrapper,
  .q-error-content-inner {
    grid-template-columns: 50% 50%;
    width: var(--content-width-screen-lg);
  }

  .q-tag-content {
    width: var(--content-width-screen-md);
  }

  /* Show navbar for bigger devices */
  .q-navbar-navigation {
    display: block;
  }

  .q-navbar-logo {
    width: 100%;
  }

  /* Show Social navigation icons for bigger devices */
  .q-navbar-social {
    display: flex;
    align-items: center;
    color: var(--accent-color-primary);
  }

  /* Hide burger for bigger devices */
  .q-navbar-sidebar-toggle {
    display: none;
  }

  .q-footer-nav {
    text-align: left;
  }

  .q-footer-info {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .q-navbar-inner,
  .q-index-content,
  .q-post-cardlist-wrapper,
  .q-post-article,
  .q-footer-inner,
  .q-tag-header-wrapper,
  .q-error-content-inner {
    width: var(--content-width-screen-xl);
  }
}

@media (min-width: 1400px) {
  .q-navbar-inner,
  .q-index-content,
  .q-post-cardlist-wrapper,
  .q-post-article,
  .q-footer-inner,
  .q-tag-header-wrapper,
  .q-error-content-inner {
    width: var(--content-width-screen-xxl);
  }

  .q-tag-content {
    width: var(--content-width-screen-md);
  }
}
